NEXT_PUBLIC_CONTRACT_ADDRESS=0xacB2E62EFF2DCC7dD357b5886c956361062752BB
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BUILDER_CODE=[Builder Code]
NEXT_PUBLIC_BASE_APP_ID=6a605ba7078f6baf9ef30122
NEXT_PUBLIC_DATA_SUFFIX=[Encoded String]
